<!DOCTYPE html>
<html>
<head>
  <title>Seattle Restaurants Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <%- body %>
  </div>

  <hr>
  <div class="container">
    <a href="/" class="btn btn-primary">Home Page</a>
    <a href="/articles" class="btn btn-info">View Articles</a>
    <a href="/articles/new" class="btn btn-warning">New Article</a>
    <a href="/authors" class="btn btn-success">View Authors</a>
    <a href="/authors/new" class="btn btn-default">Author Sign Up</a>
    <a href="/tags" class="btn btn-primary">View Tags</a>
  </div>

  <script src="//code.jquery.com/jquery.js"></script>
  <script src="/routing.js"></script>
</body>
</html>
